In [3]:
list=[1,2,3,4,'ak',"sai","yuvi"]

In [5]:
i=0
while i<len(list):
    print(list[i])
    i=i+1

1
2
3
4
ak
sai
yuvi

In [6]:
num =[3,4,45,5,5,5,56,6]

In [7]:
len(num)

8

In [10]:
num.extend([3,3,4,3,3,3,3,3,3,2,2,3,3,2,3,2,3,2,2,2,2,2,])

In [11]:
num

[3,
 4,
 45,
 5,
 5,
 5,
 56,
 6,
 [3, 3, 4, 3, 3, 3, 3, 3, 3, 2, 2, 3, 3, 2, 3, 2, 3, 2, 2, 2, 2, 2],
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 3,
 3,
 2,
 3,
 2,
 3,
 2,
 2,
 2,
 2,
 2]

In [13]:
len(num)

31

In [14]:
num.insert(3,"fuck")

num

In [15]:
num

[3,
 4,
 45,
 'fuck',
 5,
 5,
 5,
 56,
 6,
 [3, 3, 4, 3, 3, 3, 3, 3, 3, 2, 2, 3, 3, 2, 3, 2, 3, 2, 2, 2, 2, 2],
 3,
 3,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 2,
 2,
 3,
 3,
 2,
 3,
 2,
 3,
 2,
 2,
 2,
 2,
 2]

In [17]:
num.pop()

2

In [18]:
words=["ak","is","yuvi","fan"]

In [19]:
' '.join(words)

'ak is yuvi fan'

In [1]:
nums=[10,20,30]

In [3]:
[x**2 for x in nums]

[100, 400, 900]

In [5]:
name= 'colt'
[char.upper() for char in name]

['C', 'O', 'L', 'T']

In [12]:
friends=['akhil','ashwin','anjani','vinod']
[friend[0].upper() for friend in friends]

['A', 'A', 'A', 'V']

In [9]:
[friend[0].upper() for friend in friends ]

['A', 'A', 'A', 'V']

In [19]:
numbers=[1,2,3,4,45,5,6]
even=[num for num in numbers if num % 2 == 0 ]
print(even)
odd=[num for num in numbers if num % 2 == 1]
print(odd)

[2, 4, 6]
[1, 3, 45, 5]

In [20]:
[num**2 if num%2==0 else num/4 for num in numbers]

[0.25, 4, 0.75, 16, 11.25, 1.25, 36]

In [27]:
hello="this is really bad"

In [29]:
' '.join(char for char in hello if char  in "aeiou")

'i i e a a'

In [4]:
playlist= {
    'title':"dichik",
    'author':"fucrre",
    'songs':[
        {'title':'song1',  'artst':['blue'],'duration':3.5 },
        
        {
            'title':'song2',
            'artst':['bdhfhsdfhue'],
            'duration':4
        },
        {
             'title':'song3',
            'artst':['bludsfsdfsdsse'],
            'duration':3.5
        }
    ]
     
}

In [10]:
total_length=0
for song in playlist['songs']:
    total_length=total_length+song['duration']

In [11]:
print(total_length)

11.0

In [17]:
num=dict(a=1,b=2,c=3)
sqr_num={key: value ** 2 for key,value in num.items()}
print(sqr_num)

{'a': 1, 'b': 4, 'c': 9}

In [18]:
str1="abcd"
str2="1234"
combo={str1[i]:str2[i] for i in range(0,len(str1))}

In [19]:
print(combo)

{'a': '1', 'b': '2', 'c': '3', 'd': '4'}

In [27]:
instr={
    'name':"akhil",
    "id":"hccf",
    "age":"jhgjjfgh",
    'salary':"hgghghfk"
}
upeer_case ={key.upper():value.upper() for key,value in instr.items() }
print(upeer_case)

{'NAME': 'AKHIL', 'ID': 'HCCF', 'AGE': 'JHGJJFGH', 'SALARY': 'HGGHGHFK'}

In [29]:
num_list=[1,2,3,4]
{num:('even' if num%2 == 0 else 'odd') for num in num_list }

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even'}

In [30]:
{num:('even' if num%2 == 0 else 'odd') for num in range(1,100) }

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even',
 11: 'odd',
 12: 'even',
 13: 'odd',
 14: 'even',
 15: 'odd',
 16: 'even',
 17: 'odd',
 18: 'even',
 19: 'odd',
 20: 'even',
 21: 'odd',
 22: 'even',
 23: 'odd',
 24: 'even',
 25: 'odd',
 26: 'even',
 27: 'odd',
 28: 'even',
 29: 'odd',
 30: 'even',
 31: 'odd',
 32: 'even',
 33: 'odd',
 34: 'even',
 35: 'odd',
 36: 'even',
 37: 'odd',
 38: 'even',
 39: 'odd',
 40: 'even',
 41: 'odd',
 42: 'even',
 43: 'odd',
 44: 'even',
 45: 'odd',
 46: 'even',
 47: 'odd',
 48: 'even',
 49: 'odd',
 50: 'even',
 51: 'odd',
 52: 'even',
 53: 'odd',
 54: 'even',
 55: 'odd',
 56: 'even',
 57: 'odd',
 58: 'even',
 59: 'odd',
 60: 'even',
 61: 'odd',
 62: 'even',
 63: 'odd',
 64: 'even',
 65: 'odd',
 66: 'even',
 67: 'odd',
 68: 'even',
 69: 'odd',
 70: 'even',
 71: 'odd',
 72: 'even',
 73: 'odd',
 74: 'even',
 75: 'odd',
 76: 'even',
 77: 'odd',
 78: 'even',
 79: 'odd',
 80: 'even',
 81: 'odd',
 82: 'even',
 83: 'odd',
 84: 'even',
 85: 'odd',
 86: 'even',
 87: 'odd',
 88: 'even',
 89: 'odd',
 90: 'even',
 91: 'odd',
 92: 'even',
 93: 'odd',
 94: 'even',
 95: 'odd',
 96: 'even',
 97: 'odd',
 98: 'even',
 99: 'odd'}

In [1]:
s="i learn python"

In [2]:
s

'i learn python'

In [3]:
s[:]

'i learn python'

In [4]:
s[::-1]

'nohtyp nrael i'

In [5]:
s[4:9]

'arn p'

In [6]:
s[4:9:-1]

''

In [7]:
s[:-6]

'i learn '

In [8]:
s[:-4]

'i learn py'

In [9]:
s[-7:]

' python'

In [15]:
s[::-4]

'nyr '

In [16]:
s[::3]

'ienyo'

In [17]:
s[-13:]

' learn python'

In [20]:
s[-12: -7]

'learn'